<!DOCTYPE html>
<html>
<head>
    <title>Database Table</title>
</head>
<body>
    <h1>Hello TMC Admin</h1>

    <table border="1">
        <thead>
            <th>Packet No</th>
            <th>No Of Sheet</th>
            <th>Source</th>
            <th>destination</th>
            <th>date</th>
            <th>time</th>
            <th>type</th>
            <th>shift</th>
            <th>sem</th>
            <th>subject</th>
            <th>Alloted</th>
            <th>Checked</th>
            
        </thead>
        <tbody>
          
            <% for(let i =0;i<data.length;i++) { %>
                <tr>
                    <td><%=data[i].PacketNo%></td>
                    <td><%=data[i].NoofSheet%></td>
                    <td><%=data[i].Source%></td>
                    <td><%=data[i].Destination%></td>
                    <td><%=data[i].Date%></td>
                    <td><%=data[i].Time%></td>
                    <td><%=data[i].type%></td>
                    <td><%=data[i].Shift%></td>
                    <td><%=data[i].Semester%></td>
                    <td><%=data[i].Subject%></td>
                    <td><%=data[i].Alloted%></td>
                    <td><%=data[i].Checked%></td>
                </tr>
    
            <% } %>   
            
           
        
           
           
             
        </tbody>




    </table>

   
       
</body>
</html>
